body {
    min-height: 100%;
    padding-bottom: 75px;
  }

}
.bg { 
    /* The image used */
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}            

.content-wrapper {
    min-height: 100%;
}

.footer {
    bottom: 0;
    position: absolute;
    min-width: 100%;
    height: 75px;
    background: #666666;
    border-top: solid 5px #4aaaa5;
    text-align: center;
  }
  
.footer p {
    margin-top: 30px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  
header {
    background-color: #ffffff;
  }

header h1 {
    color: #ffffff;
    padding: 15px 15px 20px 15px;
    text-align: center;
    background-color: #4aaaa5;
    font-size: 24px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:#4aaaa5;
  }

.nav a {
    font-size: 24px;
    margin-top: 15px;
}

.navbar-brand {
    background-color: #4aaaa5;
}